*.log
*.lock
*.ini
*.swp
*/.DS_Store
/QPQ Game/src/main/.DS_Store
/QPQ Game/src/forms/.DS_Store
.bundle
*/.metadata/
.metadata/
*/.plugins/
*/.mylyn/
*/.project
*/.classpath
*/.recommenders/
.recommenders/
*/.settings/
.settings/
*/RemoteSystemsTempFiles/
*/*.class
*/bin/
*/dissertation_B.aux
*/dissertation_B.out
*/dissertation_B.pdf

