*.log
*.lock
*.ini
*.swp
*/.DS_Store
.bundle
*/.metadata/
.metadata/
*/.plugins/
*/.mylyn/
*/.project
*/.classpath
*/.recommenders/
.recommenders/
*/.settings/
.settings/
*/RemoteSystemsTempFiles/
*/*.class
*/bin/

