*.log
*.lock
*.ini
*.swp
*./DS_Store
.bundle
*/.metadata/
*/.plugins/
*/.mylyn/
.metadata/
*/.project
*/.classpath
*/.recommenders/
.recommenders/
*/.settings/
.settings/
*/RemoteSystemsTempFiles/
*/*.class
*/bin/

